In [64]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from src.runsql import SQL

In [65]:
# highlights the 10 highest ranked wines from vintages table
test = SQL()
query1 = "SELECT name, ratings_average FROM vintages ORDER BY ratings_average DESC, ratings_count DESC LIMIT 10"
test.run_fromtext(query1)
# test.cnn_close()

[('Biondi-Santi Brunello di Montalcino Riserva 1955', 4.9),
 ("Château Doisy-Daëne L'Extravagant de Doisy-Daëne Sauternes 2001", 4.9),
 ('Pétrus Pomerol 1990', 4.8),
 ('Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996', 4.8),
 ('Château Lafite Rothschild Pauillac (Premier Grand Cru Classé) 2003', 4.8),
 ('Château Latour Grand Vin Pauillac (Premier Grand Cru Classé) 2003', 4.8),
 ('Masseto Toscana 2006', 4.8),
 ("Château d'Yquem Sauternes 2015", 4.8),
 ('Masseto Toscana 2005', 4.8),
 ('Masseto Toscana 2001', 4.8)]

In [66]:
# find out the country which produce the wine with lowest average price
query2 = """SELECT DISTINCT vintage_toplists_rankings.vintage_id, vintages.name, ratings_average
FROM vintages JOIN vintage_toplists_rankings 
ON vintages.id = vintage_toplists_rankings.vintage_id 
ORDER BY vintage_toplists_rankings.rank, vintages.ratings_average DESC 
LIMIT 10"""
test.run_fromtext(query2)

[(6880159, 'Masseto Toscana 2006', 4.8),
 (6988511, 'Masseto Toscana 2005', 4.8),
 (14187320, 'Scarecrow Cabernet Sauvignon 2015', 4.8),
 (1411331, 'Ornellaia Bolgheri Superiore 2005', 4.7),
 (6457741, 'Masseto Toscana 2010', 4.7),
 (7372117, 'Masseto Toscana 2004', 4.7),
 (1602232, 'Château Rayas Châteauneuf-du-Pape 2001', 4.7),
 (1409704,
  'Château Margaux Château Margaux (Premier Grand Cru Classé) 2010',
  4.7),
 (1209030, 'Gaja Barbaresco 1997', 4.7),
 (1738719, 'Château Rayas Châteauneuf-du-Pape 2005', 4.7)]

In [77]:
#select the top 3 countries which produce the most afforable wine yet with decent ratings (above 4.6)
query3 = """SELECT countries.name,
        AVG(vintages.price_euros/vintages.bottle_volume_ml) AS avg
FROM vintages JOIN wines
ON vintages.wine_id = wines.id
JOIN regions ON wines.region_id = regions.id
JOIN countries ON regions.country_code = countries.code
WHERE vintages.ratings_average >= 4.6
GROUP BY countries.name
ORDER BY avg
LIMIT 10"""
test.run_fromtext(query3)

[('Moldavie', 0.06859333333333334),
 ('Grèce', 0.09066666666666667),
 ('Hongrie', 0.19994),
 ('Afrique du Sud', 0.22268222222222223),
 ('Argentine', 0.22289333333333333),
 ('Chili', 0.2572333333333333),
 ('Portugal', 0.38857916666666664),
 ('États-Unis', 0.5589468181818182),
 ('Allemagne', 0.6615333333333333),
 ('Espagne', 0.7956841176470588)]